#activity-bar
{
width:250px;
height:120px;
padding:10px 10px 15px 10px;
background-color:#F8F8F8;
line-height:1px;
box-shadow: 3px 3px 2px #C8C8C8;
}

#activity-title :hover{text-shadow:3px 3px 2px #888888}
#activity-title
{
margin:3px 0 20px 0;

}
#activity-title a
{
color:black;
text-decoration:none;
font:20px bold serif;
}
#activity-img
{
margin:3px 0 0 0;
width:90px;
height:120px;
float:left;
}
#activity-font
{
float:left;
margin: 0 0 0 10px;
}
